---
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Product from "./products.astro/[product].astro";
import ProductCard from "../components/ProductCard.astro";
import ProductSite from "./product_site.astro";
import Menu from "../components/Menu.astro";
import Layout from "../layouts/Layout.astro";

const url = "https://qadtvsifzezktrfulues.supabase.co/rest/v1/products";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhZHR2c2lmemV6a3RyZnVsdWVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQzNTUzNjMsImV4cCI6MjA1OTkzMTM2M30.rreiw6kbv2yzGoBOH3O0fAlXMWEDKjkVokL_SFiLG-M";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();

console.log("data", data);
---

<Menu />
<Layout title="home">
  <Hero />

  <section id="intro">
    <h1>Et samarbejde der hylder det,</h1>
    <h1>der ellers ville gå ubemærket hen.</h1>
  </section>

  <Button href="#kollektion" text="Se kollektion" />

  <section id="capture">
    <h1 style="font-weight: 200;">#capturethemoment</h1>
    <p>En stille hyldest til de øjeblikke, du normalt ville scrolle forbi. Med Bareen x Fujifilm hylder vi de øjeblikke, der mærkes mere end de ses. Del dit instagramopslag med #CaptureTheMoment, tag @bareen og vis os, hvordan du bærer kollektionen – i ro, i bevægelse, i nuet. Vær med i konkurrencen om den ugentlige præmie og en plads på vores collab-side på bareen.dk. Det handler ikke om at være klar, men om at være til stede. Et minde, skabt af dig. Delt med os.</p>
  </section>

  <section id="kollektion">
    <h2 class="center">Fujifilm x Bareen</h2>
    <p class="center">Limited Collection</p>
    <div class="products">
      {
        data.map((product) => {
          return <ProductCard data={product} />;
        })
      }
    </div>
  </section>

  <Footer />
</Layout>

<style>
  /* .foto_tekst {
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 301px;
  } */

  #capture {
    width: 300px;
  }
  section {
    padding: 5rem;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .text {
    color: white;
  }
</style>
