* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  padding-bottom: 0.5rem;
}

img {
  max-width: 100%;
}

p {
  padding-bottom: 0.25rem;
  max-width: 70ch;
  font-size: var(--font-size-p);
}

:root {
  --primary-white: #ffffff;
  --secondary-black: #000000;
  --light-grey: #efefef;
  --dark-grey: #373737;
}

:root {
  --font-size-h1-mobile: 30px;
  --font-size-h1-desktop: 64px;
  --font-size-h2-mobile: 26px;
  --font-size-h2-desktop: 62px;
  --font-size-h3-mobile: 16px;
  --font-size-h3-desktop: 26px;
  --font-size-p-mobile: 12px;
  --font-size-p-desktop: 20px;
  --line-height-p-mobile: 20px;
  --line-height-p-desktop: 24px;
}

.lottie {
  padding-top: 3rem;
  width: 100%;
}
