---

---

<div class="graaboks">
  <p>Fri fragt over 499 kr - 4,6 paa Trustpilot</p>
</div>
<nav>
  <ul class="nav-links-left">
    <li><a href="#">HERRE</a></li>
    <li><a href="#">DAME</a></li>
    <li><a href="#">SPORT</a></li>
    <li><a href="#">COMMUNITY</a></li>
    <li><a href="#">COLLABS</a></li>
  </ul>

  <a href="index.astro" class="logo-link">
    <img src="sort_logo.webp" width="125" alt="Logo" />
  </a>

  <ul class="nav-links-right">
    <li><a href="#">CLUB</a></li>
    <li><a href="#">LOG IND</a></li>
    <li><a href="#"><img src="circle-flag-of-denmark-free-png.webp" width="20" alt="Logo" /></a></li>
    <li><a href="#"><img src="search.webp" width="20" alt="Logo" /></a></li>
    <li><a href="#"><img src="heart-stroke-icon-512x480-i5hgmi48.webp" width="17" alt="Logo" /></a></li>
    <li><a href="#"><img src="shopping_bag_icon_153998.webp" width="30" alt="Logo" /></a></li>
  </ul>
</nav>

<style>
  .graaboks {
    background-color: #4c4c4c;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 0.7rem;
    text-align: center;
  }

  nav {
    padding-inline: 30px;
    padding-top: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
  }

  .nav-links-left,
  .nav-links-right {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo-link img {
    width: 130px;
    height: auto;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-family: "Roboto", sans-serif;
  }
</style>
